@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=IM+Fell+English:ital@0;1&family=MedievalSharp&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=MedievalSharp&display=swap');

.container {
    font-family:  "IM Fell English", serif;
    max-width: 1179px;
}
.equipment-area {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.equipment-area1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.equipment-area1top {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.mainhand, .offhand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}
#weapon {
    min-width: 300px;
}

.equipment-area1bottom {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

#imputattack {
    width: 70px;

}

#imputattackdmg {
    width: 120px;

}

.attack1, .attack2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

}

.equipment-area2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    align-items: center;
}

.equipment-area2mid {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.armor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#inputarmorname {
    width: 100px;
}

#inputarmor {
    width: 50px;
}

.equipment-area2right {
    display: flex;
    flex-direction: row;
    padding: 20px;
}


.inventory-area {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.inventory1, .inventory2 {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}

.inventory1 {
    padding: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.inventory2 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 20px;

}

#inventory {
 text-align: left;
 vertical-align: top;
 padding: 5px;
 resize: none;
 min-width: 492px;
 max-width: 492px;
 min-height: 250px;
 max-height: 250px;
 border-radius: 10px;
 font-family: "IM Fell English";
 font-size: 18px;
 transition: border-color 0.3s ease, box-shadow 0.3s ease;
 overflow-y: auto;
 scrollbar-width: thin;
}

 #inventory:focus {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

.input_coins {
    width: 100px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    font-family: "IM Fell English", serif;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input_coins:focus {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

.items-area {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cor-fields);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.item {
    background-color: var(--cor-fieldhighlight);
    width: 350px;
    padding: 10px;
    border: 2px solid;
    border-color: var(--cor-border);
    border-radius: 10px;
    justify-items: center;
}

.pic {
    max-width: 220px;
    max-height: 220px;
    width: 100%; 
    object-fit: cover; 
    aspect-ratio: 1-1;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#itemname, #itemtype {
    font-family: "MedievalSharp", cursive;
    min-width: 220px;
    max-width: 220px;
    text-align: center;
    padding: 5px;
    border: 2px solid var(--cor-border);
    font-size: calc(20px - 0.2vw);
    white-space: nowrap; /* Mantém tudo em uma linha */
    overflow: hidden;
    text-overflow: ellipsis;
}

#itemtype {
    font-style: italic;
}

#itemdescription {
    text-align: left;
    vertical-align: top;
    padding: 5px; 
    resize: none;
    min-width: 220px;
    min-height: 220px;
    border-radius: 10px;
    font-family: "IM Fell English";
    font-size: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto;
    scrollbar-width: thin;
    justify-content: center;

}

#itemdescription:focus {
    position: relative;
    width: 500px;
    height: 500px;
}

#spellcasterinfo {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    appearance: none;
}

#spellcasterinfo1 {
    width: 75px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    appearance: none;
}

#spellcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spell {
    background-color: var(--cor-fieldhighlight);
    border: 2px solid var(--cor-border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1px;   
    width: 400px;
}
.spelltop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.spellmiddle {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.spellmiddle1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spellmiddle2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spellbottom {
    padding: 10px;
}

#spellname {
    font-family: "MedievalSharp";
    font-size: 30px;
    text-align: center;
    box-shadow: var(--cor-fieldhighlight);
    margin-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#spelltype {
    font-family: "MedievalSharp";
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    width: 100%;
    box-sizing: border-box;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#spelldescription {
    text-align: left;
    vertical-align: top;
    padding: 5px; 
    resize: none;
    border-radius: 10px;
    font-family: "IM Fell English";
    font-size: 15px;
    border: 2px solid var(--cor-border);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto;
    scrollbar-width: thin;
    background-color: var(--cor-input);
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

#spellaction, #spellrange, #spellduration, #spellcomponents {
    margin-top: 2px;
}